@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 247 68% 63%;
    --primary-foreground: 0 0% 98%;
    --primary-light: 244 97% 80%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 247 68% 63%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 247 68% 63%;
    --success: 168 100% 36%;
    --warning: 39 98% 71%;
    --danger: 360 100% 71%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --primary: 247 68% 63%;
    --primary-foreground: 210 40% 98%;
    --primary-light: 244 97% 80%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 230 11% 59%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 247 68% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 360 100% 71%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 100% / 0.1;
    --input: 0 0% 100% / 0.05;
    --ring: 247 68% 63%;
    --success: 168 100% 36%;
    --warning: 39 98% 71%;
    --danger: 360 100% 71%;
  }
}